/********** Desktop ************/
.main-home{
    background-color : white;
    padding: 0 6%;}

.banner {
    display:flex;
    background: rgba(0,0,0,.8);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.banner_img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    opacity: 0.6;
}
.banner_title{
    position: absolute;
    z-index: 3;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 142.6%;
    display:flex;
    color: #FFFFFF;
}


/********** Tablette **********/
 @media (max-width: 992px){
 .main-home {
    margin: 20px 20px;
    width: 85%;
    padding: 20px;
}
.banner {
    height:110px;
    border-radius: 10px;
}
.banner_img {
    height:110px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
}
.banner_title{
    font-size: 24px;
    }
 }

/************* Mobile *******************/

@media (max-width: 768px){
.main-home {
    margin: 15px 15px;
    width: 83%;
    padding : 0px 10px;
}
.banner_title{
    font-size: 24px;
    line-height:100%;
    text-align: left;
    font-weight: 500;
    left:9%;
    right:25%;
    }

 }