/********** Desktop ************/
.header_container{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    padding: 40px 6%;
}
.logo{
    height: 70px;
}
 /*Navbar*/
.navbar{
text-align: right;
  display:flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
.navli{
    color: #FF6060;
    font-weight: 500;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    line-height: 142.6%;
}

.navbar a {
    text-decoration: none;
}


